{% include header.html %}

<div class="container px-2 max-width: 100%">            
    <div class="container">
        <img src="/static/img/pub/imageff.png" style="width:100%">
        <div class="centered">Welcome to the Eeftens lab!</div>
    </div>
        
    <div class="row">
        <div class="col">
    	    <div class="jumbotron text-white jumbotron-image shadow")
                 background-style="img src="/static/img/pub/imageff.png"">
           	    {{ content }}
            </div>
        </div>
        
    </div>
</div>
{% include footer.html %}
