{% include header.html %}

<div class="container max-width: 100%">            
    <div class="row">
        <div class="col">
    	    <div class="jumbotron text-white jumbotron-image shadow" 
                 style="background-image: url(https://raw.githubusercontent.com/eeftenslab/eeftenslab.github.io/master/static/img/pub/imageff.png);
                        background-size: cover;">
                <h1 class="text-center" style=font-size:80px; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;>
                               Welcome to the Eeftens lab!
                               </h1>
                <h1 class="text-center" style=font-size:40px; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;>
                               Biophysics of chromatin organisation
                               </h1>
           	    {{ content }}
            </div>
        </div>
        
    </div>
</div>
{% include footer.html %}
